@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition duration-300;
}

body {
  @apply bg-gray-50;
}

::-webkit-scrollbar {
  @apply w-2;
}

::-webkit-scrollbar-track {
  @apply bg-gray-100;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-400 rounded;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-600;
}
