.header {
  padding: 10px 0;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 999;

  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid #ebebeb;
  background: white;
}

/* Header Left */
.header__left {
  display: flex;
}

.header__logo {
  margin-right: 10px;
  height: 40px;
  object-fit: contain;
}

.header__search {
  padding: 10px;
  height: 22px;
  border-radius: 5px;

  display: flex;
  align-items: center;

  background: #eef3f8;
  color: #5f6163;
}
.header__search input {
  padding: 10px;
  font-size: 16px;
  background: none;
  border: none;
  outline: none;
}
.header__search input::placeholder {
  color: #5f6163;
}
/* .header__search input:focus {
  outline: 1px solid #ebebeb;
} */

/* Header Right */
.header__right {
  display: flex;
}
