.inputOption {
  margin-top: 15px;
  padding: 10px;
  display: flex;
  align-items: center;
  color: #666;
  cursor: pointer;
}
.inputOption:hover {
  background: #ebebeb;
  border-radius: 10px;
}
.inputOption h4 {
  margin-left: 5px;
  font-weight: 600;
}
